<div>
  <h1>Файлообменник на скорую руку</h1>

  <h2>Список файлов:</h2>
  <div id="stored_table">
    <table class="table table-border table-hover">
      <thead>
        <tr>
	      <th>Файл</th>
	      <th>Описание</th>
        <th>Закачек</th>
	      <th>Загружен</th>
	      <th>Размер</th>
	      <th>Действие</th>
        </tr>
      </thead>
        <%= render partial: 'stored_file', collection: @files %>
        <%#= render 'index' %>
    </table>
  </div>


  <hr/>
  <%= link_to 'Загрузить файл', new_stored_file_path, id: 'upload_link', remote: true %>

</div>
