<div>
  <h2>Файлообменник на скорую руку</h2>

  <h4>Список файлов: 
    <%= link_to('фото', stored_files_path(@files = nil) ) %>
    <все> <аудио> <видео> <архивы> </h4>
  <div id="stored_table">
    <table class="table table-border table-hover">
      <thead>
        <tr>
          <th></th>
	        <th>Файл</th>
	        <th>Описание</th>
          <th>Закачек</th>
	        <th>Загружен</th>
	        <th>Размер</th>
	        <th></th>
        </tr>
      </thead>
        <%= render partial: 'stored_file', collection: @files %>
    </table>
  </div>


  <hr/>
  <%= link_to 'Загрузить файл', new_stored_file_path, id: 'upload_link', remote: true %>

</div>

