<div>
  <h2>Просмотр файла:</h2>
  <div id="stored_table">
    <table class="table table-border table-hover">
      <thead>
        <tr>
          <th></th>
	        <th>Файл</th>
	        <th>Описание</th>
          <th>Закачек</th>
	        <th>Загружен</th>
	        <th>Размер</th>
	        <th>Действие</th>
        </tr>
      </thead>
        <%= render @file %>
    </table>
  </div>


</div>